<div class="app-title-container">
    <div class="user-info" @onclick="GetInfo" >
        <div class="user-image"></div>
        <h5 class="user-greet-text">
            Hi,<a href="#">johnDoe@arcadis.com</a><br>
            Welcome Back <br />
            <span class="azure-info">@Information</span>
        </h5>
    </div>

    <div class="app-logo">
        <div class="app-logo-main"></div>
        <div class="app-title-description">Power Platform User Support</div>
    </div>
</div>
